body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-align: left;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.text {
    font-size: 25px;
    font-style: normal;
    text-align: center;
}

main {
    margin: 20px auto;
    max-width: 550px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffffff;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width:400px;
    justify-content: center; 
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 35px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

li span {
    flex-grow: 1;
    margin-right: 5px;
}

.delete-button {
    background-image: url("delete_icon.png");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 20px; 
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.delete-button:hover {
    filter: brightness(0.8); 
}